.categoryCard {
  padding: 40px;
  border: 1px solid black;
  width: 100%;
  display: flex;
}

.categoryCardItem {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.categoryIcon {
  font-size: 45px;
  color: hsla(347, 96%, 26%, 1);
}

.categoryName {
  font-size: 28px;
}

path {
  stroke: hsla(347, 96%, 26%, 1);
}
